<<<<<<< HEAD
*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 54);
    color: white;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;

}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: rgb(76, 0, 120);

    display: flex;
    align-items: center;
    justify-content: space-around;
}


i{
    color: white;
}

.ButtonContainer{
    width: 60px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.ButtonContainer > *{
    position: absolute;
    z-index: -2;
}


.pen{
    width: 40px;
    height: 10px;
    border: 1px solid white;

    border-top-left-radius:   30px;
    border-bottom-left-radius: 30px;

    position: relative;

}

.pen::before{
    position: absolute;
    content: '';

    width:  7px ;
    height: 7px;
    background-color: white;
    right: 5px;
    top: 1px;
    border-radius: 50%;
}

.pen::after{
    position: absolute;
    content: '';
    height: 7px;
    width: 0.6px ;
    border: 1px solid white;
    left: 6px;
}

.circle{
    width:  20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


.square-shape{
    width:  20px;
    height: 20px;
    border: 1px solid white;
}

.line-shape{
    width: 20px;
    height: 1px;
    border: 1px solid white;
    position: relative;
}

.line-shape::before{
    position: absolute;
    content: '<';
    top: -9px;
    left: -9px;

}

.line-shape::after{
    position: absolute;
    content: '>';
    top: -9px;
    right: -9px;

}

.profileIcon{
    width:  30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.buttonsContainer{

    display: flex;
    align-items: center;
    flex-direction: row;

}

.filecontainer{
    width: 110px;
    height: 140px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    position: absolute;
    top: 50px;
    left: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 3;

    border: 1px solid white;

}


.shapecontainer{
    position: absolute;
    top: 40px;
    width: 120px;
    height: 140px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding:5px ;
    flex-wrap: wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;


    border: 1px solid white;



}

.InsertOtherItem{

     position: absolute;
    top: 40px;
    width: 140px;
    height: 150px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

    border: 1px solid white;

}


.FillShapeButton{
    width:  50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translateX(0px);


}

.BtnBall{
    width:  15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ;
}

.BtnBall.active{
    background-color: green;
    transform: translateX(30px);

}

.AddpPageContaineMain{
    color: white;
    width:  100vw;
    height: 80px;
    position: absolute;
    bottom: -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
}

.insertionbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 90%;
    
}

.currentpageNumberHolderBox{
     display: flex;
     flex-direction: row;
}

.currentpageNumberHolder{
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.drawingcontainer{
    

    width:  90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 5%;


    
}

.canvas{
    
    width: 90vw;
    height: 80vh;
    background-color: black;
    position: absolute;
    color: white;
}


.eraserMouse {
    display: block;
    background-color: white;
    filter: opacity(0.5);
    position: absolute;
    border-radius: 50%;
    pointer-events: none; /* Prevent interference with clicks */
    z-index: 10;
}



.pensettings{

    width: 150px;
    height: 160px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    position: absolute;    
    top: 40px;
    left: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;

    border: 1px solid white;
}

.settingbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.settingbox input{
    width: 90px;
}
.penNeonButton{
    width:  50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translateX(0px);


}


.settingbox input[type='color']{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.BtnBallNeon{
    width:  15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ;
}

.BtnBallNeon.active{
    background-color: green;
    transform: translateX(30px);

=======
*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 54);
    color: white;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;

}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: rgb(76, 0, 120);

    display: flex;
    align-items: center;
    justify-content: space-around;
}


i{
    color: white;
}

.ButtonContainer{
    width: 60px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.ButtonContainer > *{
    position: absolute;
    z-index: -2;
}


.pen{
    width: 40px;
    height: 10px;
    border: 1px solid white;

    border-top-left-radius:   30px;
    border-bottom-left-radius: 30px;

    position: relative;

}

.pen::before{
    position: absolute;
    content: '';

    width:  7px ;
    height: 7px;
    background-color: white;
    right: 5px;
    top: 1px;
    border-radius: 50%;
}

.pen::after{
    position: absolute;
    content: '';
    height: 7px;
    width: 0.6px ;
    border: 1px solid white;
    left: 6px;
}

.circle{
    width:  20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}


.square-shape{
    width:  20px;
    height: 20px;
    border: 1px solid white;
}

.line-shape{
    width: 20px;
    height: 1px;
    border: 1px solid white;
    position: relative;
}

.line-shape::before{
    position: absolute;
    content: '<';
    top: -9px;
    left: -9px;

}

.line-shape::after{
    position: absolute;
    content: '>';
    top: -9px;
    right: -9px;

}

.profileIcon{
    width:  30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

.buttonsContainer{

    display: flex;
    align-items: center;
    flex-direction: row;

}

.filecontainer{
    width: 110px;
    height: 140px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    position: absolute;
    top: 50px;
    left: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 3;

    border: 1px solid white;

}


.shapecontainer{
    position: absolute;
    top: 40px;
    width: 120px;
    height: 140px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding:5px ;
    flex-wrap: wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;


    border: 1px solid white;



}

.InsertOtherItem{

     position: absolute;
    top: 40px;
    width: 140px;
    height: 150px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

    border: 1px solid white;

}


.FillShapeButton{
    width:  50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translateX(0px);


}

.BtnBall{
    width:  15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ;
}

.BtnBall.active{
    background-color: green;
    transform: translateX(30px);

}

.AddpPageContaineMain{
    color: white;
    width:  100vw;
    height: 80px;
    position: absolute;
    bottom: -10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    overflow: hidden;
}

.insertionbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 90%;
    
}

.currentpageNumberHolderBox{
     display: flex;
     flex-direction: row;
}

.currentpageNumberHolder{
    width: 5px;
    height: 5px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.drawingcontainer{
    

    width:  90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 5%;


    
}

.canvas{
    
    width: 90vw;
    height: 80vh;
    background-color: black;
    position: absolute;
    color: white;
}


.eraserMouse {
    display: block;
    background-color: white;
    filter: opacity(0.5);
    position: absolute;
    border-radius: 50%;
    pointer-events: none; /* Prevent interference with clicks */
    z-index: 10;
}



.pensettings{

    width: 150px;
    height: 160px;
    background-color: black;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    position: absolute;    
    top: 40px;
    left: 0px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 0;

    border: 1px solid white;
}

.settingbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.settingbox input{
    width: 90px;
}
.penNeonButton{
    width:  50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transform: translateX(0px);


}


.settingbox input[type='color']{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.BtnBallNeon{
    width:  15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.5s ;
}

.BtnBallNeon.active{
    background-color: green;
    transform: translateX(30px);

>>>>>>> 09451d08de3519fe18a3e9b0fc4a624fc16b5657
}